<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>MVC Tech Blog</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">MVC Tech Blog</a>
        </h1>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
            <button id="logout" class="btn">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Appreciate you!
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
</body>
</html>